<!DOCTYPE html>
<html>
  <head>
    <title><%-item.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script type="text/javascript">
	    //get distance from seller
		function distance(lon1, lat1, lon2, lat2) {
		  var R = 6371; // Radius of the earth in km
		  var dLat = (lat2-lat1).toRad();  // Javascript functions in radians
		  var dLon = (lon2-lon1).toRad(); 
		  var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
		          Math.cos(lat1.toRad()) * Math.cos(lat2.toRad()) * 
		          Math.sin(dLon/2) * Math.sin(dLon/2); 
		  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
		  var d = R * c; // Distance in km
		  return d;
		}

		/** Converts numeric degrees to radians */
		if (typeof(Number.prototype.toRad) === "undefined") {
		  Number.prototype.toRad = function() {
		    return this * Math.PI / 180;
		  }
		}
 
		navigator.geolocation.getCurrentPosition(function(pos) {
		  var dist = Math.round(distance(pos.coords.longitude, pos.coords.latitude, <%- item.latitude %>, <%- item.longitude %>)); 
		  document.getElementById("dis").innerHTML = dist;
		});
    </script>
    <h1><%-item.title %>
    </h1>
    <img src="<%-item.image %>">
    <p>
      <strong>Description:</strong><br><%- item.text %><br>
      <strong>Condition:</strong> <%- item.condition %><br>
      <strong>Seller's Distance:</strong> <span id="dis"></span> <br>
      <strong>Seller's Contact:</strong> <%- item.contact %> <br>
    </p>
    <h3>₹<%- item.price %></h3>
    <a href="../../">Back</a>
  </body>
</html>